@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <abbr title="Name">Ad:</abbr>
    Hüseyin Atakan ÖZCAN </br>
    <abbr title="Title">Meslek:</abbr>
    Bilgisayar Mühendisi </br>
    <abbr title="Phone">Telefon Numarası:</abbr>
    +90 538 839 63 71
</address>

<address>
    <strong>Mail:</strong>   
    <a href="mailto:h.atakan97@hotmail.com">h.atakan97@hotmail.com</a><br />
</address>